<!DOCTYPE html>
<html lang="ru"> 
  <head>  
    <!-- Подключены иконки, стили и заполенены мета теги -->
    <title>Профайл пользователя <!--Лев Толстой--></title>
  </head>
  <body>       
    <header>
        {% include 'includes/header.html' %}     
    </header>
    <main>
      <div class="container py-5">        
        <h1>Все посты пользователя <!--Лев Толстой--> </h1>
        <h3>Всего постов: <!-- --> </h3>   
        <article>
          <ul>
            <li>
              Автор: <!--Лев Толстой-->
              <a href="<!-- -->">все посты пользователя</a>
            </li>
            <li>
              Дата публикации: <!-- 31 июля 1854 --> 
            </li>
          </ul>
          <p>
          <!--
            [Фокшаны.] Еще переходъ до Фокшанъ, во время котораго я ѣхалъ съ 
            Монго. Человѣкъ пустой, но съ твердыми, хотя и ложными убѣжденіями.
            Генерал[у] по этому должно быть случаю, угодно было спрашивать о мое
            мъ здоровьи.
            Свинья! К[о]вырялъ носъ и ничего не написалъ — вотъ 2 упрека за 
            нын[ѣшній]     день. Послѣдній упрекъ становится слишкомъ частъ, 
            хотя походъ и можетъ служить въ немъ отчасти извиненіемъ. 
            Отношенія мои съ товарищами становятся такъ пріятны, что мнѣ 
            жалко бросить штабъ. Здоровье кажется (2) лучше. 
          --> 
          </p>
          <a href="<!-- -->">подробная информация </a>
        </article>       
        <a href="<!-- -->">все записи группы</a>        
        <hr>
        <!-- Остальные посты. после последнего нет черты -->
        <!-- Здесь подключён паджинатор -->
        {% include 'includes/paginator.html' %}
      </div>
    </main>
    {% include 'includes/footer.html' %}
  </body>
</html>